* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c3b1e1;
}

.container {
  background-color: #fcf7ff;
  width: 300px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
  border: 1px solid #d9cce3;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 10px;
  color: #d9cce3;
}

button {
  border-radius: 20px;
  border: 0px;
  margin-bottom: 30px;
  color: #c8b8d4;
  background-color: #947fe1;
  padding: 8px;
  cursor: pointer;
  color: white;
}
